*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height:100vh;
    background:#080B12;
    overflow:hidden;
}

#gameCanvas{
    border: 2px solid #00F5FF;
    background: #05070D;
    display: block;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 5 / 6;
    height: auto;
    touch-action:none;
}

